<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>In Sight Система прокторинга</title>
    <link rel="shortcut icon" href="static/img/icon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>

<header class="about_header">

    <div class="navigation">
        <div class="logo">In Sight</div>
        <div class="menu">
            <ul class="nav">
                <li><a class="link" href="/">На главную</a></li>
                <li><a class="link" href="/about">О системе</a></li>
                <li><a class="link" href="/login">Вход</a></li>
            </ul>
        </div>
    </div>

    <div class="description">
        <h1>Поддержка</h1>
        <p>В случае возникновения проблем можете оставить обращение на почту - antichiterneiro@gmail.com</p>
    </div>

</header>

</body>
</html>